* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  margin-top: 53px;
  margin-bottom: 57px;
}

.nav__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.nav__left-title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
}
.nav__right {
  width: 243px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav__right-link {
  color: #292f36;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
}

.unique {
  margin-bottom: 96px;
}
.unique__bg {
  background-image: url(img/unique__img.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}
.unique__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  padding: 208px 716px 208px 52px;
}
.unique__heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 65px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 18px;
}
.unique__txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 21px;
}
.unique__link {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.36px;
  padding: 26px 48px;
  background-color: #292f36;
  border: none;
  border-radius: 18px;
}

.projects {
  margin-bottom: 40px;
}
.projects__desc {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 93px;
}
.projects__heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  line-height: 125%;
  letter-spacing: 1px;
}
.projects__txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 737px;
}
.projects__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.projects__card {
  margin-bottom: 56px;
  width: 548px;
}
.projects__img {
  border: none;
  margin-bottom: 24px;
}
.projects__img-top-left {
  border-radius: 0 80px 0 0;
}
.projects__img-top-right {
  border-radius: 80px 0 0 0;
}
.projects__img-bot-left {
  border-radius: 0 0 80px 0;
}
.projects__img-bot-right {
  border-radius: 0 0 0 80px;
}
.projects__card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.projects__card-heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}
.projects__card-txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.results {
  background-color: #f4f0ec;
  padding: 151px 0;
  margin-bottom: 96px;
}
.results__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}
.results__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  border-left: 1px solid #cda274;
  padding-left: 76px;
}
.results__item:first-child {
  border: none;
}
.results__number {
  color: #cda274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.results__desc {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.articles {
  margin-bottom: 96px;
}
.articles__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-direction: column;
  margin-bottom: 52px;
}
.articles__heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  line-height: 125%;
  letter-spacing: 1px;
}
.articles__txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.22px;
  width: 811px;
}
.articles__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
  flex-wrap: wrap;
}
.articles__card {
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  padding: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 21px;
  flex-direction: column;
  width: 382px;
  height: 521px;
  position: relative;
}
.articles__card:nth-child(2) {
  background-color: #f4f0ec;
}
.articles__card:nth-child(2) circle {
  fill: #fff;
}
.articles__img {
  border: none;
  border-radius: 45px 45px 0 0;
}
.articles__title {
  position: absolute;
  top: 249px;
  left: 41px;
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  border: none;
  border-radius: 8px 8px 8px 0;
  background-color: #fff;
  padding: 4px 11px 8px;
}
.articles__card-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0;
  margin-bottom: 16px;
}
.articles__card-desc {
  width: 290px;
}
.articles__card-heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 39px;
}
.articles__card-txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.footer {
  margin-bottom: 118px;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
}
.footer__info {
  width: 393px;
  margin-right: 101px;
}
.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}
.footer__info-txt {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.22px;
  margin-bottom: 31px;
}
.footer__fa-links {
  display: flex;
  gap: 54px;
}
.footer .fa-twitter,
.footer .fa-linkedin-in {
  font-size: 20px;
}
.footer__pages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  margin-right: 303px;
}
.footer__pages-heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  margin-bottom: 10px;
}
.footer__pages-link {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 300%;
  letter-spacing: 0.22px;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  width: 258px;
}
.footer__contacts-heading {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 26px;
}
.footer__contacts-info {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin-bottom: 27px;
}

.header-blog {
  margin: 44px 0;
}

.blog-banner {
  background-image: url(img/blog-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 351px;
  margin-bottom: 200px;
}/*# sourceMappingURL=style.css.map */